extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'infopage3'
	- var selected = 'Home';
	- var href = '';

block css

block body
	include _layout/header1
	main
		include _pages/ct-lienhe
	include _layout/footer
