section.banner-wrap
	.banner
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			.container
				h1.banner-caption Chào mừng Quý khách đến với Trang Thông Tin Hợp đồng Bảo hiểm của Chubb Life Việt Nam
