nav.fly-tool
	a.fly-button.hotline(href="tel: (+84 28) 3827 8123")
		.icon
			img(src="img/icon/phone.png", alt="")
		.text (+84 28) 3827 8123
	a.fly-button.mail(href="mailto:chubblife.vietnam@chubb.com")
		.icon
			img(src="img/icon/email.png", alt="")
		.text chubblife.vietnam@chubb.com
	.fly-button.font
		.icon
			img(src="img/icon/font.png", alt="")
		.text Kích cỡ chữ
			span.active.small A
			span.medium A
			span.big A
footer
	.container
		section.footer-top
			.row
				.col-12.col-lg-3
					section.footer-col
						.social
							a(href="#!") <i class="fa fa-home" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-youtube-play" aria-hidden="true"></i>
				.col-12.col-lg-9
					section.footer-col
						.row
							article.col-12.col-md-4.col-line
								h3.company Công ty TNHH Bảo hiểm Nhân thọ Chubb Việt Nam
							article.col-12.col-md-4.col-line
								.contact-info
									ul
										li Tầng 21, Tòa nhà Sun Wah, 115 Nguyễn Huệ, Quận 1, TP. Hồ Chí Minh, Việt Nam
							article.col-12.col-md-4.col-line
								.contact-info
									ul
										li Điện thoại: 
											a(href="tel:(+84 28) 3827 8989 ") (+84 28) 3827 8989
										li Fax: (+84 28) 3821 9000 
										li Đường dây nóng: 
											a(href="tel:(+84 28) 3827 8123") (+84 28) 3827 8123
		section.footer-bottom
			.row
				.col-12.col-md-4.col-lg-3
					.sitelogo
						a(href="#!")
							img(src="img/logo.png", alt="")
				.col-12.col-md-8.col-lg-6
					nav.footer-link
						a(href="#!") Điều khoản sử dụng
						a(href="#!") Bảo mật thông tin
					.copyright © 2017 Chubb | Công ty TNHH Bảo hiểm Nhân thọ Chubb Việt Nam 
					.pagedes Website này thuộc sở hữu của Công ty TNHH Bảo hiểm Nhân thọ Chubb Việt Nam 
						br
						|Giấy phép thành lập và hoạt động số 33GP/KDBH do Bộ Tài chính cấp ngày 04/05/2005 
						br
						|Giấy phép thay đổi tên số 33/GPĐC13/KDBH do Bộ Tài chính cấp ngày 09/03/2016 