header
	.container
		section.header-main
			//- .overlay
			.btn-showmenu
				span
			.sitelogo
				a(href="index.html")
					img(src="img/logo.png", alt="")
			.col-right
				nav.menu
					ul.menu-link
						li.active
							a(href="#!") Giới thiệu
						li
							a(href="#!") Sản phẩm
						li
							a(href="#!") Nhịp cầu Chubb Life
						li
							a(href="#!") Thông tin mới
				.login-wrap
					.login-toggle <i class="material-icons">person</i>
				//- .language
					ul
						li.active
							a(href="#!") VN
						li
							a(href="#!") EN
				//- .search
					.search-toggle
						i.material-icons search
					.search-wrap
						.searchbox
							input(type="text" placeholder="Tìm kiếm...")
							button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
