header.header1
	section.header-top
		.container
			.col-right
				.login
					ul
						li
							a(href="#!") <i class="material-icons">person_outline</i>Đăng nhập
						//- li
							a(href="#!") Đăng ký
	.container
		section.header-main
			//- .overlay
			.btn-showmenu
				span
			.sitelogo
				a(href="index.html")
					img(src="img/logo.png", alt="")
			.col-right
				//- nav.menu
					ul.menu-link
						li.active
							a(href="#!")
								.icon
									i.material-icons border_color
								.text Hướng dẫn tra cứu thông tin HĐBH
						li
							a(href="#!")
								.icon
									i.material-icons menu
								.text Danh sách HĐBH 
						li
							a(href="#!")
								.icon
									i.material-icons description
								.text Biểu mẫu
						li
							a(href="#!")
								.icon
									i.material-icons speaker_notes
								.text Thông tin phục vụ hợp đồng
				.login-wrap
					.login-toggle <i class="material-icons">person</i>
				//- .search
					.search-toggle
						.icon
							i.material-icons search
						.text Tìm kiếm
					.search-wrap
						.searchbox
							input(type="text" placeholder="Tìm kiếm...")
							button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
		//- h1.pagename
