.page-name-wrap
	.container
		h1.page-name Biểu mẫu
.container
	section.form-page
		ul#myTab.nav.nav-tabs(role='tablist')
			li.nav-item
				a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Điều Chỉnh Thông Tin Hợp đồng Bảo hiểm
			li.nav-item
				a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Thanh Toán Quyền Lợi Hợp đồng Bảo hiểm
			li.nav-item
				a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Yêu Cầu Giải Quyết Quyền Lợi Bảo Hiểm
		#myTabContent.tab-content
			#home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
				.form-verlist
					.form-table
						table
							thead
								tr
									th STT
									th Tên biểu mẫu
							tbody
								tr
									td 1
									td 
										a(href="#!") Phiếu yêu cầu điều chỉnh thông tin cá nhân
								tr
									td 2
									td 
										a(href="#!") Phiếu yêu cầu thay đổi chữ ký mẫu
								tr
									td 3
									td 
										a(href="#!") Phiếu yêu cầu điều chỉnh Người thụ hưởng
								tr
									td 4
									td 
										a(href="#!") Phiếu thông báo thay đổi Nghề nghiệp - Nơi cư trú ra nước ngoài
								tr
									td 5
									td 
										a(href="#!") Phiếu yêu cầu chuyển nhượng Hợp đồng Bảo hiểm
								tr
									td 6
									td 
										a(href="#!") Phiếu yêu cầu cấp phó bản Hợp đồng Bảo hiểm
								tr
									td 7
									td 
										a(href="#!") Phiếu yêu cầu điều chỉnh Kế hoạch đóng phí Bảo Hiểm
								tr
									td 8
									td 
										a(href="#!") Phiếu yêu cầu bổ sung / Tăng mệnh giá Sản phẩm / Quyền lợi Bảo hiểm và định kỳ đóng phí
								tr
									td 9
									td 
										a(href="#!") Phiếu yêu cầu điều chỉnh huỷ/ giảm chuyển đổi Sản phẩm/ Quyền lợi Bảo hiểm và định kỳ đóng phí
								tr
									td 10
									td 
										a(href="#!") Phiếu yêu cầu thực hiện quyền chuyển đổi Sản phẩm Kế hoạch tài chính trọn đời / Hoạch định tài chính tương lai
								
			#profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
				.form-verlist
					.form-table
						table
							thead
								tr
									th STT
									th Tên biểu mẫu
							tbody
								tr
									td 1
									td 
										a(href="#!") Phiếu yêu cầu điều chỉnh thông tin cá nhân
								tr
									td 2
									td 
										a(href="#!") Phiếu yêu cầu thay đổi chữ ký mẫu
								tr
									td 3
									td 
										a(href="#!") Phiếu yêu cầu điều chỉnh Người thụ hưởng
								tr
									td 4
									td 
										a(href="#!") Phiếu thông báo thay đổi Nghề nghiệp - Nơi cư trú ra nước ngoài
								tr
									td 5
									td 
										a(href="#!") Phiếu yêu cầu chuyển nhượng Hợp đồng Bảo hiểm
								tr
									td 6
									td 
										a(href="#!") Phiếu yêu cầu cấp phó bản Hợp đồng Bảo hiểm
								tr
									td 7
									td 
										a(href="#!") Phiếu yêu cầu điều chỉnh Kế hoạch đóng phí Bảo Hiểm
								tr
									td 8
									td 
										a(href="#!") Phiếu yêu cầu bổ sung / Tăng mệnh giá Sản phẩm / Quyền lợi Bảo hiểm và định kỳ đóng phí
								tr
									td 9
									td 
										a(href="#!") Phiếu yêu cầu điều chỉnh huỷ/ giảm chuyển đổi Sản phẩm/ Quyền lợi Bảo hiểm và định kỳ đóng phí
								tr
									td 10
									td 
										a(href="#!") Phiếu yêu cầu thực hiện quyền chuyển đổi Sản phẩm Kế hoạch tài chính trọn đời / Hoạch định tài chính tương lai
								
			#contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
				.form-verlist
					.form-table
						table
							thead
								tr
									th STT
									th Tên biểu mẫu
							tbody
								tr
									td 1
									td 
										a(href="#!") Phiếu yêu cầu điều chỉnh thông tin cá nhân
								tr
									td 2
									td 
										a(href="#!") Phiếu yêu cầu thay đổi chữ ký mẫu
								tr
									td 3
									td 
										a(href="#!") Phiếu yêu cầu điều chỉnh Người thụ hưởng
								tr
									td 4
									td 
										a(href="#!") Phiếu thông báo thay đổi Nghề nghiệp - Nơi cư trú ra nước ngoài
								tr
									td 5
									td 
										a(href="#!") Phiếu yêu cầu chuyển nhượng Hợp đồng Bảo hiểm
								tr
									td 6
									td 
										a(href="#!") Phiếu yêu cầu cấp phó bản Hợp đồng Bảo hiểm
								tr
									td 7
									td 
										a(href="#!") Phiếu yêu cầu điều chỉnh Kế hoạch đóng phí Bảo Hiểm
								tr
									td 8
									td 
										a(href="#!") Phiếu yêu cầu bổ sung / Tăng mệnh giá Sản phẩm / Quyền lợi Bảo hiểm và định kỳ đóng phí
								tr
									td 9
									td 
										a(href="#!") Phiếu yêu cầu điều chỉnh huỷ/ giảm chuyển đổi Sản phẩm/ Quyền lợi Bảo hiểm và định kỳ đóng phí
								tr
									td 10
									td 
										a(href="#!") Phiếu yêu cầu thực hiện quyền chuyển đổi Sản phẩm Kế hoạch tài chính trọn đời / Hoạch định tài chính tương lai
								