.page-name-wrap
	.container
		h1.page-name Điều chỉnh thông tin Hợp đồng Bảo hiểm
.container
	section.contract-page.icon-link
		.link-list
			.row.justify-content-center
				.col-6.col-sm-4.col-lg-3.col-xl-2
					a.link(href="#!")
						figure
							.icon
								img(src="img/icon/e1.png", alt="")
							figcaption Điều chỉnh Địa chỉ liên lạc / Địa chỉ thường trú
				.col-6.col-sm-4.col-lg-3.col-xl-2
					a.link(href="#!" data-toggle='modal', data-target='#dt1')
						figure
							.icon
								img(src="img/icon/e2.png", alt="")
							figcaption Điều chỉnh thông tin nhân thân
				.col-6.col-sm-4.col-lg-3.col-xl-2
					a.link(href="#!" data-toggle='modal', data-target='#dt2')
						figure
							.icon
								img(src="img/icon/e3.png", alt="")
							figcaption Điều chỉnh nghề nghiệp
				.col-6.col-sm-4.col-lg-3.col-xl-2
					a.link(href="#!" data-toggle='modal', data-target='#dt3')
						figure
							.icon
								img(src="img/icon/e4.png", alt="")
							figcaption Chuyển nhượng HĐBH
				.col-6.col-sm-4.col-lg-3.col-xl-2
					a.link(href="#!" data-toggle='modal', data-target='#dt4')
						figure
							.icon
								img(src="img/icon/e5.png", alt="")
							figcaption Điều chỉnh thông tin Người thụ hưởng
				.col-6.col-sm-4.col-lg-3.col-xl-2
					a.link(href="#!" data-toggle='modal', data-target='#dt5')
						figure
							.icon
								img(src="img/icon/e6.png", alt="")
							figcaption Điều chỉnh Sản phẩm / Quyền lợi BH
		.btn-wrap.justify-content-center.pb-4
			a.btn-go(href="#!") Quay lại


// Modal
#dt1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
	.modal-dialog.home-modal(role='document')
		.modal-content
			.modal-header
				h5#exampleModalLabel.modal-title Điều chỉnh thông tin nhân thân
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					<i class="material-icons">close</i>
			.modal-body
				.content
					p Cám ơn Quý khách đã truy cập, chúng tôi sẽ cung cấp dịch vụ này trong thời gian tới.
// Modal
#dt2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
	.modal-dialog.home-modal(role='document')
		.modal-content
			.modal-header
				h5#exampleModalLabel.modal-title Điều chỉnh nghề nghiệp
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					<i class="material-icons">close</i>
			.modal-body
				.content
					p Cám ơn Quý khách đã truy cập, chúng tôi sẽ cung cấp dịch vụ này trong thời gian tới.
// Modal
#dt3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
	.modal-dialog.home-modal(role='document')
		.modal-content
			.modal-header
				h5#exampleModalLabel.modal-title Chuyển nhượng HĐBH
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					<i class="material-icons">close</i>
			.modal-body
				.content
					p Cám ơn Quý khách đã truy cập, chúng tôi sẽ cung cấp dịch vụ này trong thời gian tới.
// Modal
#dt4.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
	.modal-dialog.home-modal(role='document')
		.modal-content
			.modal-header
				h5#exampleModalLabel.modal-title Điều chỉnh thông tin Người thụ hưởng
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					<i class="material-icons">close</i>
			.modal-body
				.content
					p Cám ơn Quý khách đã truy cập, chúng tôi sẽ cung cấp dịch vụ này trong thời gian tới.
// Modal
#dt5.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
	.modal-dialog.home-modal(role='document')
		.modal-content
			.modal-header
				h5#exampleModalLabel.modal-title Điều chỉnh Sản phẩm / Quyền lợi BH
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					<i class="material-icons">close</i>
			.modal-body
				.content
					p Cám ơn Quý khách đã truy cập, chúng tôi sẽ cung cấp dịch vụ này trong thời gian tới.