.page-name-wrap
	.container
		h1.page-name Danh sách Hợp đồng Bảo hiểm
.container
	.banner-page.d-none.d-lg-block
		.item
			.img
				img(src="img/banner/p1.jpg", alt="")
		.item
			.img
				img(src="img/banner/p1.jpg", alt="")
		.item
			.img
				img(src="img/banner/p1.jpg", alt="")
	.banner-page.banner-tablet.d-none.d-md-block.d-lg-none
		.item
			.img
				img(src="img/banner/pt1.jpg", alt="")
		.item
			.img
				img(src="img/banner/pt1.jpg", alt="")
		.item
			.img
				img(src="img/banner/pt1.jpg", alt="")
	.banner-page.banner-mobile.d-block.d-md-none
		.item
			.img
				img(src="img/banner/pm1.jpg", alt="")
		.item
			.img
				img(src="img/banner/pm1.jpg", alt="")
		.item
			.img
				img(src="img/banner/pm1.jpg", alt="")
	section.contract-page
		.btn-wrap.justify-content-between.mb-3
			a.btn-go.btn-back(href="#!") Trở về
			a.btn-go.btn-continue(href="#!") Điều chỉnh thông tin
		.contract-info
			h2.page-title
				.icon 
					i.ma list
				.text Thông tin chung
			.row
				.col-12.col-lg-6
					.main-table.overview-table
						.table-wrap
							table
								tr
									th Số HĐBH
									td 170001082372008
								tr
									th Ngày phát hành HĐBH
									td 25/07/2017
								tr
									th Ngày hiệu lực HĐBH
									td 25/07/2017
								tr
									th Tình trạng HĐBH
									td 
										.status.status-success Có hiệu lực
								tr
									th Đại diện Kinh doanh Phục vụ
									td 0094375 - Lê Thị Thanh Thuỷ
								tr
									th Giá trị hoàn lại (VNĐ)
									td 0
								tr
									th Giá trị Tài khoản HĐ tại ngày 29/11/2017 (VNĐ)
									td 3.555.200
				.col-12.col-lg-6
					.main-table.overview-table
						.table-wrap
							table
								tr
									th Bên mua Bảo hiểm
									td Nguyễn Văn A
								tr
									th Số CMND/ GPKD/ ...
									td 023156548
								tr
									th Số điện thoại liên lạc
									td Di động: 0123456789
								tr
									th Địa chỉ liên lạc
									td 156 Nguyễn Văn Thủ, P. ĐaKao. Q.1, TP.Hồ Chí Minh
								tr
									th Số tiền đang tạm ứng từ giá trị hoàn lại (VNĐ)
									td 0
		.contract-info
			h2.page-title
				.icon 
					i.ma account_balance
				.text Các Quyền lợi / Sản phẩm bảo hiểm tham gia
			.main-table.benefit-table
				.table-wrap
					table
						thead
							tr
								th STT
								th Mã quyền lợi
								th Tên quyền lợi
								th Loại quyền lợi
								th Mệnh giá quyền lợi (VNĐ)
								th Kỳ thanh toán
								th Phí hàng kỳ (VNĐ)
								th Ngày đóng phí kế tiếp
								th Tình trạng
								th Người được bảo hiểm Chính
						tbody
							tr
								td 1
								td PUL1A
								td Kế hoạch Tài chính Trọn đời - Quyền lợi Toàn diện 2013 - Lựa chọn A
								td Quyền lợi cơ bản
								td 500.000.000
								td Hàng năm
								td 12.600.000
								td 25/07/2018
								td 
									.status.status-success Có hiệu lực
								td Nguyễn Văn A
							tr
								td 2
								td ADD003
								td QLBH tử vong hoặc tàn tật so tai nạn mở rộng
								td Quyền lợi cơ bản
								td 500.000.000
								td 
								td 
								td 
								td 
									.status.status-success Có hiệu lực
								td Nguyễn Văn A
							tr
								td 3
								td CB003
								td QLBH hỗ trợ nằm viện mở rộng
								td Quyền lợi cơ bản
								td 500.000
								td 
								td 
								td 
								td 
									.status.status-success Có hiệu lực
								td Nguyễn Văn A
							tr
								td 4
								td C8D001
								td QLBH hỗ trợ tài chính toàn diện điều trị ung thư
								td Quyền lợi cơ bản
								td 500.000.000
								td 
								td 
								td 
								td 
									.status.status-success Có hiệu lực
								td Nguyễn Văn A
				.total-fee.text-center Tổng phí theo kỳ: 
					strong 12.600.000 VNĐ
		.contract-info
			h2.page-title
				.icon 
					i.ma accessibility
				.text Người thụ hưởng
			.main-table.benefit-table2
				.table-wrap
					table
						thead
							tr
								th Trường hợp thụ hưởng
								th Thứ tự thụ hưởng
								th Người thụ hưởng
								th CMND
								th Ngày sinh
								th Giới tính
								th Quan hệ với NĐBH1
								th Tỷ lệ thụ hưởng
						tbody
							tr
								td Khi NĐBH còn sống
								td 1
								td Nguyễn Văn A
								td 023164857
								td 01/02/1985
								td Nam
								td Bản thân
								td 100.00 %
							tr
								td Khi NĐBH tử vong
								td 1
								td Trần Thị B
								td 023164857
								td 01/02/1990
								td Nữ
								td Vợ
								td 100.00 %
		.row
			.col-12.col-lg-6
				.contract-info
					h2.page-title
						.icon 
							i.ma mail_outline
						.text Thư đã gửi cho Quý khách trong năm
					.main-table.email-table
						.table-wrap
							table
								thead
									tr
										th STT
										th Tên thư
										th Ngày gửi
								tbody
									tr
										td 1
										td 
											a(href="#!") Hóa đơn điện tử
										td 18/01/2017
									tr
										td 2
										td 
											a(href="#!") Hóa đơn điện tử
										td 18/01/2017
									tr
										td 3
										td 
											a(href="#!") Hóa đơn điện tử
										td 18/01/2017
									tr
										td 4
										td 
											a(href="#!") Hóa đơn điện tử
										td 18/01/2017
									tr
										td 5
										td 
											a(href="#!") Hóa đơn điện tử
										td 18/01/2017
									tr
										td 6
										td 
											a(href="#!") Hóa đơn điện tử
										td 18/01/2017
									tr
										td 7
										td 
											a(href="#!") Hóa đơn điện tử
										td 18/01/2017
									tr
										td 8
										td 
											a(href="#!") Hóa đơn điện tử
										td 18/01/2017
									tr
										td 9
										td 
											a(href="#!") Hóa đơn điện tử
										td 18/01/2017
									tr
										td 10
										td 
											a(href="#!") Hóa đơn điện tử
										td 18/01/2017
						.table-page
							ul.pagination
								li.active
									a(href="#!") 1
								li
									a(href="#!") 2
								li
									a(href="#!") 3
								li
									a(href="#!") 4
					a.link-support(href="#!") <i class="material-icons">arrow_forward</i>Hướng dẫn xác thực chữ ký số
			.col-12.col-lg-6
				.contract-info
					h2.page-title
						.icon 
							i.ma assignment_turned_in
						.text Tình hình đóng phí
						a.print(href="#!") <i class="fa fa-print"></i>
					.main-table.email-table.email-table2
						.table-wrap
							table
								thead
									tr
										th STT
										th Ngày
										th Số tiền (VNĐ)
										//- th 
								tbody
									tr
										td 1
										td 14/12/2017
										td 12.600.000
										//- td
											a.print(href="#!") <i class="fa fa-print"></i>
									tr
										td 2
										td 09/01/2017
										td 12.600.000
										//- td
											a.print(href="#!") <i class="fa fa-print"></i>
									tr
										td 3
										td 14/12/2017
										td 12.600.000
										//- td
											a.print(href="#!") <i class="fa fa-print"></i>
									tr
										td 4
										td 09/01/2017
										td 12.600.000
										//- td
											a.print(href="#!") <i class="fa fa-print"></i>
									tr
										td 5
										td 14/12/2017
										td 12.600.000
										//- td
											a.print(href="#!") <i class="fa fa-print"></i>
									tr
										td 6
										td 09/01/2017
										td 12.600.000
										//- td
											a.print(href="#!") <i class="fa fa-print"></i>
									tr
										td 7
										td 14/12/2017
										td 12.600.000
										//- td
											a.print(href="#!") <i class="fa fa-print"></i>
									tr
										td 8
										td 09/01/2017
										td 12.600.000
										//- td
											a.print(href="#!") <i class="fa fa-print"></i>
									tr
										td 9
										td 14/12/2017
										td 12.600.000
										//- td
											a.print(href="#!") <i class="fa fa-print"></i>
									tr
										td 10
										td 09/01/2017
										td 12.600.000
										//- td
											a.print(href="#!") <i class="fa fa-print"></i>
						.table-page
							ul.pagination
								li.active
									a(href="#!") 1
								li
									a(href="#!") 2
								li
									a(href="#!") 3
								li
									a(href="#!") 4
						.total-fee Tổng cộng 
							strong 25.200.000 
							|VNĐ

section.payment-description
	.container
		.contract-des
			.content 
				p(style="color:#ff6600") Lưu ý:
				ul
					li Chỉ thể hiện số tiền BMBH thực đóng cho HĐBH. Các khoản chuyển phí từ HSYCBH/HĐBH, quyền lợi tiền mặt được giữ lại để đóng phí v.v… sẽ không được thể hiện trong mục <strong>"Tình hình đóng phí"</strong>. Để biết thêm chi tiết vui lòng liên hệ đường dây nóng của Chubb Life (+84 28) 3827 8123.
					br
					li Trong vòng bảy (07) ngày kể từ ngày đóng phí bảo hiểm, nếu Quý khách đã đăng ký dịch vụ thông báo bằng tin nhắn ngắn (SMS) nhưng không nhận được thông báo nào từ Chubb Life; đồng thời Quý khách cũng chưa nhận được Hóa đơn điện tử khi đăng nhập vào tài khoản của mình tại Trang Thông tin Hợp đồng Bảo hiểm Trực tuyến 
						a(href="http://www.baohiemchubblife.vn" style="color: #01c1d6") www.baohiemchubblife.vn
						|, vui lòng liên hệ với Đường dây nóng theo số (+84 28) 3827 8123.
		.btn-wrap.justify-content-between.pb-4
			a.btn-go.btn-back(href="#!") Trở về
			a.btn-go.btn-continue(href="#!") Điều chỉnh thông tin
section.icon-link
	.container
		.link-list
			.row.justify-content-center
				.col-12.col-sm-6.col-md-4.col-lg
					a.link(href="#!")
						figure
							.icon
								img(src="img/icon/l1.png", alt="")
							figcaption Biểu mẫu
				.col-12.col-sm-6.col-md-4.col-lg
					a.link(href="#!")
						figure
							.icon
								img(src="img/icon/l2.png", alt="")
							figcaption Văn phòng / Chi nhánh
				.col-12.col-sm-6.col-md-4.col-lg
					a.link(href="#!")
						figure
							.icon
								img(src="img/icon/l3.png", alt="")
							figcaption Thanh toán bằng thẻ
				.col-12.col-sm-6.col-md-4.col-lg
					a.link(href="#!")
						figure
							.icon
								img(src="img/icon/l4.png", alt="")
							figcaption Thanh toán qua ngân hàng
				.col-12.col-sm-6.col-md-4.col-lg
					a.link(href="#!")
						figure
							.icon
								img(src="img/icon/l5.png", alt="")
							figcaption Thanh toán bằng tiền mặt