.page-name-wrap
	.container
		h1.page-name Danh sách Hợp đồng Bảo hiểm
.container
	.banner-page.d-none.d-lg-block
		.item
			.img
				img(src="img/banner/p1.jpg", alt="")
		.item
			.img
				img(src="img/banner/p1.jpg", alt="")
		.item
			.img
				img(src="img/banner/p1.jpg", alt="")
	.banner-page.banner-tablet.d-none.d-md-block.d-lg-none
		.item
			.img
				img(src="img/banner/pt1.jpg", alt="")
		.item
			.img
				img(src="img/banner/pt1.jpg", alt="")
		.item
			.img
				img(src="img/banner/pt1.jpg", alt="")
	.banner-page.banner-mobile.d-block.d-md-none
		.item
			.img
				img(src="img/banner/pm1.jpg", alt="")
		.item
			.img
				img(src="img/banner/pm1.jpg", alt="")
		.item
			.img
				img(src="img/banner/pm1.jpg", alt="")
	section.form-page.contract-search
		.form-wrap
			.row
				.form-group.col-12
					label Thông tin tìm kiếm
					.form-child
						.form-row
							.form-group.col-12.col-lg-4
								label Tài khoản truy cập
								input.form-control(type="text" value="")
							.form-group.col-12.col-sm-6.col-lg-4
								label Hợp đồng Bảo hiểm
								input.form-control(type="text" value="")
							.form-group.col-12.col-sm-6.col-lg-4
								label Email
								input.form-control(type="email" value="")
							.form-group.col-12
								.form-text.text-orange Ghi chú: Phải cung cấp ít nhất một trong 3 thông tin trên
							.form-group.col-12.col-sm-12.col-lg-4
								label Tài khoản truy cập:
							.form-group.col-12.col-sm-6.col-lg-4
								label Email:
							.form-group.col-12.col-sm-6.col-lg-4
								label Ngày tạo:
							//- .form-group.col-12.col-sm-6.col-lg-3
								label Tạo bởi:
						.btn-wrap.justify-content-center
							button.btn-go.btn-continue Tìm kiếm
	section.contract-page
		.page-des.text-center Chubb Life xin chân thành cảm ơn Quý khách đã tín nhiệm chọn chúng tôi phục vụ Bảo hiểm Nhân thọ. Kính chúc Quý khách được nhiều sức khoẻ và hạnh phúc.
		.contract-list
			.content
				p.page-des2.text-center Chúng tôi xin thông báo chi tiết các Hợp đồng Bảo hiểm mà Quý khách đang tham gia như sau:
			.main-table.contract-table2
				.table-wrap
					table
						thead
							tr
								th Hợp đồng Bảo hiểm
								th Sản phẩm chính
								th Ngày phát hành
								th Ngày hiệu lực
								th Tình trạng HĐBH
								th Người được bảo hiểm chính
								th Ngày đóng phí gần nhất
								th Phí đóng gần nhất (VNĐ)
						tbody
							tr
								td 
									a.id(href="#!") 170006418066008
									//- .info
										i.material-icons info
										.info-popup 
											p Để khôi phục hiệu lực HĐBH/ Sản phẩm bổ sung của HĐBH, Ông/Bà vui lòng liên hệ với Đại lý phục vụ hoặc Văn phòng kinh doanh của Chubb Life gần nhất để tiến hành thủ tục khôi phục.
											ul
												li
													a(href="#!") Hướng dẫn khôi phục
												li
													a(href="#!") Hướng dẫn đóng phí
								td Kế hoạch Tài chính Trọn đời - Quyền lợi toàn diện A1
								td 17/11/2008
								td 17/11/2008
								td 
									.status.status-success Có hiệu lực
								td Nguyễn Văn A
								td 25/11/2015
								td 12.990.000
							tr
								td 
									a.id(href="#!") 560002456724570
									.info.orange
										i.material-icons info
										.info-popup 
											p Để khôi phục hiệu lực HĐBH/ Sản phẩm bổ sung của HĐBH, Ông/Bà vui lòng liên hệ với Đại lý phục vụ hoặc Văn phòng kinh doanh của Chubb Life gần nhất để tiến hành thủ tục khôi phục.
											ul
												li
													a(href="#!") <i class="material-icons">arrow_forward</i>Hướng dẫn khôi phục
												li
													a(href="#!") <i class="material-icons">arrow_forward</i>Hướng dẫn đóng phí
								td Kế hoạch Tài chính Trọn đời - Quyền lợi toàn diện A2
								td 17/11/2008
								td 17/11/2008
								td 
									.status.status-warning Hết hiệu lực / Còn gia hạn đóng phí
								td Nguyễn Văn A
								td 25/11/2015
								td 12.990.000
							tr
								td 
									a.id(href="#!") 20345023050000
									.info.red
										i.material-icons info
										.info-popup 
											p Để khôi phục hiệu lực HĐBH/ Sản phẩm bổ sung của HĐBH, Ông/Bà vui lòng liên hệ với Đại lý phục vụ hoặc Văn phòng kinh doanh của Chubb Life gần nhất để tiến hành thủ tục khôi phục.
											ul
												li
													a(href="#!") <i class="material-icons">arrow_forward</i>Hướng dẫn khôi phục
												li
													a(href="#!") <i class="material-icons">arrow_forward</i>Hướng dẫn đóng phí
								td Kế hoạch Tài chính Trọn đời - Quyền lợi toàn diện A3
								td 17/11/2008
								td 17/11/2008
								td 
									.status.status-danger Hết hiệu lực do không đóng phí
								td Nguyễn Văn A
								td 25/11/2015
								td 12.990.000
							tr
								td 
									a.id(href="#!") 20051005000550
									.info.pink
										i.material-icons info
										.info-popup 
											p Để khôi phục hiệu lực HĐBH/ Sản phẩm bổ sung của HĐBH, Ông/Bà vui lòng liên hệ với Đại lý phục vụ hoặc Văn phòng kinh doanh của Chubb Life gần nhất để tiến hành thủ tục khôi phục.
											ul
												li
													a(href="#!") <i class="material-icons">arrow_forward</i>Hướng dẫn khôi phục
												li
													a(href="#!") <i class="material-icons">arrow_forward</i>Hướng dẫn đóng phí
								td Kế hoạch Tài chính Trọn đời - Quyền lợi toàn diện A4
								td 17/11/2008
								td 17/11/2008
								td 
									.status.status-secondary Đang yêu cầu bổ sung thêm thông tin
								td Nguyễn Văn A
								td 25/11/2015
								td 12.990.000
							tr
								td 
									a.id(href="#!") 506015051056050
									.info.cyan
										i.material-icons info
										.info-popup 
											p Để khôi phục hiệu lực HĐBH/ Sản phẩm bổ sung của HĐBH, Ông/Bà vui lòng liên hệ với Đại lý phục vụ hoặc Văn phòng kinh doanh của Chubb Life gần nhất để tiến hành thủ tục khôi phục.
											ul
												li
													a(href="#!") <i class="material-icons">arrow_forward</i>Hướng dẫn khôi phục
												li
													a(href="#!") <i class="material-icons">arrow_forward</i>Hướng dẫn đóng phí
								td Kế hoạch Tài chính Trọn đời - Quyền lợi toàn diện A5
								td 17/11/2008
								td 17/11/2008
								td 
									.status.status-info đang trong 30 ngày trước ngày đến hạn đóng phí 
								td Nguyễn Văn A
								td 25/11/2015
								td 12.990.000
			.btn-wrap.justify-content-end
				a.btn-go.btn-continue(href="#!") Thanh toán trực tuyến
section.payment-description
	.container
		.contract-des
			.content 
				p <span class="text-orange"><i class="material-icons">info</i> Ghi chú :</span> Vui lòng di chuyển chuột vào biểu tượng <i class="material-icons text-orange">info</i> để xem chi tiết.
					//- br
					//- |<span class="text-orange">Hướng dẫn:</span> Chọn mục “Thông tin truy cập” để thay đổi Mật khẩu, thay đổi Email hoặc ngừng sử dụng dịch vụ.