.page-name-wrap
	.container
		h1.page-name Tìm văn phòng gần nhất
.container
	section.system-page
		.system-map
			.row.no-gutters
				.col-12.col-md-5.col-lg-4.col-xl-3
					section.findmap-wrap
						.mapfilter-toggle
						.findmap.form-wrap
							.filtermap.form-group
								label Vui lòng chọn Tỉnh/ Thành phố
								select.form-control(name="")
									option(value="") Tỉnh / Thành phố
									option(value="") TP.Hồ Chí Minh
							.btn-wrap
								a.btn-go.btn-continue(href="#!") Tìm
							.filter-result Có <strong>6</strong> văn phòng gần bạn nhất:
						.addresslist.clearfix
							ul
								li.active
									strong.name Chi nhánh Chubb Life TP. HCM
									div Chubb Tower I
										br
										|260 Phan Đình Phùng, Quận Phú Nhuận
										br
										|Điện thoại: (84 28) 3990 1999
										br
										|Fax: (84 28) 3990 3869
								li
									strong.name Chi nhánh Chubb Life TP. HCM
									div Chubb Tower II
										br
										|222 Điện Biên Phủ, Quận 3
										br
										|Điện thoại: (84 28) 3820 8989
										br
										|Fax: (84 28) 3820 0679
								li
									strong.name Chi nhánh Chubb Life TP. HCM
									div Chubb Tower I
										br
										|260 Phan Đình Phùng, Quận Phú Nhuận
										br
										|Điện thoại: (84 28) 3990 1999
										br
										|Fax: (84 28) 3990 3869
								li
									strong.name Chi nhánh Chubb Life TP. HCM
									div Chubb Tower II
										br
										|222 Điện Biên Phủ, Quận 3
										br
										|Điện thoại: (84 28) 3820 8989
										br
										|Fax: (84 28) 3820 0679
								li
									strong.name Chi nhánh Chubb Life TP. HCM
									div Chubb Tower I
										br
										|260 Phan Đình Phùng, Quận Phú Nhuận
										br
										|Điện thoại: (84 28) 3990 1999
										br
										|Fax: (84 28) 3990 3869
								li
									strong.name Chi nhánh Chubb Life TP. HCM
									div Chubb Tower II
										br
										|222 Điện Biên Phủ, Quận 3
										br
										|Điện thoại: (84 28) 3820 8989
										br
										|Fax: (84 28) 3820 0679
				.col-12.col-md-7.col-lg-8.col-xl-9
					#map
						iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1856724735662!2d106.67962971538384!3d10.79708709230752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528d6ca20c933%3A0x7446d683cfdc48e8!2zMjYwIFBoYW4gxJDDrG5oIFBow7luZywgcGjGsOG7nW5nIDEsIFBow7ogTmh14bqtbiwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1517371920759', width='100%', height='480', frameborder='0', style='border:0', allowfullscreen='')
