.page-name-wrap
	.container
		h1.page-name Kết quả thanh toán trực tuyến
.container
	section.form-page
		.form-success
			.icon
				img(src="img/icon/check.png", alt="")
			h2.success-title.text-center Quý khách đã thực hiện giao dịch thành công.
			.success-des.text-center Trở về 
				a(href="#!") trang chủ
				|.
