.page-name-wrap
	.container
		h1.page-name Đăng ký tài khoản truy cập
.container
	section.form-page
		.form-success
			.icon
				img(src="img/icon/check.png", alt="")
			h2.success-title.text-center Đăng ký tài khoản truy cập thành công.
			.success-des.text-center Quý khách vui lòng đăng nhập vào hệ thống 
				a(href="#!") tại đây
				|.
