.page-name-wrap
	.container
		h1.page-name Yêu cầu cấp lại mật khẩu truy cập
.container
	section.form-page
		.form-wrap
			h2.module-title Quý khách vui lòng cung cấp các thông tin sau đây để nhận lại mật khẩu truy cập.
			.row
				.form-group.col-12.col-md-6
					label Số Hợp đồng Bảo hiểm <span class="text-italic">(bao gồm 15 chữ số, kết thúc là 008)</span>
					input.form-control(type="text" placeholder="")
				.form-group.col-12.col-md-6
					label Chứng minh Nhân dân
					input.form-control(type="text" placeholder="")
				.form-group.col-12
					.form-text.text-danger Ghi chú: Chỉ điền thông tin của cùng một Hợp đồng Bảo hiểm mà Quý khách đang tham gia tại Chubb Life.
				.col-12.btn-wrap
					a.btn-go.btn-back(href="#!") Quay lại
					input.btn-go.btn-continue(type="submit", value="Xác nhận")